html, body {
  margin: 0px;
  padding: 0px;
  font-family: 'Source Sans Pro', sans-serif;
  scroll-behavior: smooth;
  color: #656565;
}

html .scrollOffset, body .scrollOffset {
  display: block;
  position: relative;
  top: -60px;
}

html h1, html h2, html h4, html h5, body h1, body h2, body h4, body h5 {
  margin-top: 0.5em;
}

html h4, html h5, body h4, body h5 {
  text-align: center;
}

nav {
  background-color: #aa1f75;
  position: fixed;
  min-height: 60px;
  padding: 0px;
}

nav ul {
  margin: 0;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
}

nav ul li {
  font-size: 12pt;
  display: block;
  float: left;
  width: 50px;
  text-align: center;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

nav ul li a {
  color: #eee;
  font-size: 22pt;
  text-decoration: none;
  display: block;
}

nav ul li a:hover {
  color: #fff;
}

nav ul li a:hover i {
  display: none;
}

nav ul li a:hover b {
  display: block;
  text-decoration: none;
  padding-top: 10px;
}

nav ul li a i {
  color: #fff;
}

nav ul li a b {
  display: none;
  font-size: 15px;
}

#header {
  margin: 60px 0px 0px 0px;
  padding-bottom: 40px;
  background-image: url("/assets/purple_background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 130%;
  height: auto;
  color: white;
}

#header .css-typing h1 {
  border-right: .15em solid white;
  font-family: "Courier";
  font-size: 4vw;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: type 500ms steps(40, end);
  animation: type 500ms steps(40, end);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

#header .css-typing h1:nth-child(1) {
  width: 2em;
  -webkit-animation: type 500ms steps(40, end);
  animation: type 500ms steps(40, end);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

#header .css-typing h1:nth-child(2) {
  width: 9em;
  opacity: 0;
  -webkit-animation: type2 1s steps(40, end);
  animation: type2 1s steps(40, end);
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

#header .css-typing h1:nth-child(3) {
  width: 16em;
  opacity: 0;
  -webkit-animation: type3 2s steps(600, end), blink 0.5s step-end infinite alternate;
  animation: type3 2s steps(600, end), blink 0.5s step-end infinite alternate;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    border: none;
  }
}

@-webkit-keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    border: none;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@-webkit-keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@-webkit-keyframes blink {
  50% {
    border-color: tranparent;
  }
}

.about {
  padding: 20px;
}

.about #wife {
  margin-top: 50px;
  width: 100%;
}

.about article {
  color: black;
  font-size: 1em;
  font-weight: 300;
}

.skills .progress {
  margin: 5px;
}

.projects .project-wrapper {
  margin-top: .5em;
  display: block;
  position: relative;
}

.projects .project-wrapper .web img {
  height: 280px;
}

.projects .project-wrapper img {
  border: 1px solid #aa1f75;
  border-radius: 1em;
  width: 100%;
  height: 200px;
}

.projects .project-wrapper:hover .project-wrapper-inner {
  top: 0px;
  opacity: 0.9;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

.projects .project-wrapper .project-wrapper-inner {
  background: rgba(170, 31, 117, 0.9);
  color: white;
  border-radius: 1em;
  top: 0px;
  height: 100%;
  width: 100%;
  opacity: 0;
  position: absolute;
  padding: 20px;
  line-height: 1em;
  z-index: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.projects .project-wrapper .project-wrapper-inner h6 {
  font-weight: 600;
}

.projects .project-wrapper .project-wrapper-inner p {
  margin-bottom: .3em;
}

.projects .project-wrapper .project-wrapper-inner ul {
  width: 80%;
  text-align: left;
}

.projects .project-wrapper .project-wrapper-inner ul li {
  display: inline-block;
  overflow: wrap;
  margin: .2em;
  padding: .2em;
  list-style-type: none;
  border: 1px dotted white;
  border-radius: 10%;
}

.contacts .btn {
  background-color: #aa1f75;
}

.contacts i {
  color: #aa1f75;
}

footer {
  background-color: #aa1f75;
  height: auto;
  color: white;
  padding: 0.5em;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
}

footer ul li {
  padding: 1em 1em 0 1em;
}

footer ul li i {
  font-size: 2em;
  color: white;
}

footer small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */