$primary-color: #7510F7;

html, body{
  margin: 0px;
  padding: 0px;
  font-family: 'Source Sans Pro', sans-serif;
}

header {
  margin: 0px;
  padding: 40px;
  background-image: url('/assets/purple_background.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: auto;
  color: white;
}

nav {
  background-color: #aa1f75;
  min-height: 60px;
  padding: 0px;
  ul {
    margin: 0;
    padding: 10px 30px 10px 10px;
    position: absolute;
    top: 0;
    right: 0;
    li {
      font-size: 12pt;
      display: block;
      float: left;
      width: 50px;
      text-align: center;
      transition: all 0.2s ease-in-out;
      a {
        color: #eee;
        font-size: 22pt;
        text-decoration: none;
        display: block;
        // padding: 5px;
        &:hover {
          color: #fff;
          i {
            display: none;
          }
          b {
            display: block;
            text-decoration: none;
            padding-top: 10px;
          }
        }
        i {
          color: #fff;
        }
        b {
          display: none;
          font-size: 15px;
        }
      }
    }
  }
}

.about {
  padding: 20px;
  #wife {
    width: 100%;
  }
  article {
    color: black;
    font-size: 1em;
    font-weight: 300;
  }
}

.skills {
  .progress {
    margin: 5px;
  }
}

.item {
  background-color: blue;
  color: red;
  height: 300px;
}