$primary-color: #aa1f75;

html, body {
  margin: 0px;
  padding: 0px;
  font-family: 'Source Sans Pro', sans-serif;
  scroll-behavior: smooth;
  color: #656565;
  .scrollOffset {
    display: block;
    position: relative;
    top: -60px;
  }
  h1, h2, h4, h5 {
    margin-top: 0.5em;
  }
  h4, h5 {
    text-align: center;
  }
}

nav {
  background-color: $primary-color;
  .navbar-brand {
    margin-left: 3vw;
  }
  li {
    margin-right: 3rem;
    a {
      font-size: 1.2em;
      &:hover {
        color: white;
        text-decoration-style: double;
      }
    }
  }
}

#header {
  margin: 60px 0px 0px 0px;
  padding-bottom: 40px;
  background: url('../assets/purple_background.jpg');
  background-repeat: no-repeat;
  background-size: 100% 130%;
  height: auto;
  color: white;
  .css-typing h1 {
    border-right: .15em solid white;
    font-family: "Courier";
    font-size: 4vw;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: type 500ms steps(40, end);
    animation: type 500ms steps(40, end);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  .css-typing h1:nth-child(1) {
    width: 2em;
    -webkit-animation: type 500ms steps(40, end);
    animation: type 500ms steps(40, end);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  .css-typing h1:nth-child(2) {
    width: 9em;
    opacity: 0;
    -webkit-animation: type2 1s steps(40, end);
    animation: type2 1s steps(40, end);
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  .css-typing h1:nth-child(3) {
    width: 12.5em;
    opacity: 0;
    -webkit-animation: type3 2s steps(600, end), blink .5s step-end infinite alternate;
    animation: type3 2s steps(600, end), blink .5s step-end infinite alternate;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  @keyframes type {
    0% {
      width: 0;
    }
    99.9% {
      border-right: .15em solid orange;
    }
    100% {
      border: none;
    }
  }
  @-webkit-keyframes type {
    0% {
      width: 0;
    }
    99.9% {
      border-right: .15em solid orange;
    }
    100% {
      border: none;
    }
  }
  @keyframes type2 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    99.9% {
      border-right: .15em solid orange;
    }
    100% {
      opacity: 1;
      border: none;
    }
  }
  @-webkit-keyframes type2 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    99.9% {
      border-right: .15em solid orange;
    }
    100% {
      opacity: 1;
      border: none;
    }
  }
  @keyframes type3 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  @-webkit-keyframes type3 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  @-webkit-keyframes blink {
    50% {
      border-color: tranparent;
    }
  }
}

.about {
  padding: 20px;
  #wife {
    margin-top: 50px;
    width: 100%;
  }
  article {
    color: black;
    font-size: 1em;
    font-weight: 300;
  }
  #skills {
    display: flex;
    justify-content: space-around;
  }
}

.projects .project-wrapper {
  margin-top: .5em;
  display: block;
  position: relative;
  .web img{
    height: 280px;
    object-fit: cover;
  }
  img {
    border: 1px solid $primary-color;
    border-radius: 1em;
    width: 100%;
    height: 200px;
  }
  &:hover {
    .project-wrapper-inner {
      top: 0px;
      opacity: 0.9;
      transition: opacity .5s;
    }
  }
  .project-wrapper-inner {
    background: rgba(170, 31, 117, 0.9);
    color: white;
    border-radius: 1em;
    top: 0px;
    height: 100%;
    width: 100%;
    opacity: 0;
    position: absolute;
    padding: 20px;
    line-height: 1em;
    z-index: 1;
    transition: 0.5s;
    h6 {
      font-weight: 600;
    }
    p {
      margin-bottom: .3em;
    }
    ul {
      width: 80%;
      text-align: left;
      li {
        display: inline-block;
        overflow: wrap;
        margin: .2em;
        padding: .2em;
        list-style-type: none;
        border: 1px dotted white;
        border-radius: 10%;
      }
    }
  }
}

.contacts {
  #message {
    height: 20em;
  }
  #status {
    color: $primary-color;
  }
  .btn {
    background-color: $primary-color;
  }
  i {
    color: $primary-color;
  }
}

footer {
  background-color: $primary-color;
  height: auto;
  color: white;
  padding: 0.5em;
  ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    li {
      padding: 1em 1em 0 1em;
      i {
        font-size: 2em;
        color: white;
      }
    }
  }
  small {
    display: flex;
    justify-content: center;
    text-align: center;
  }
}
