$primary-color: #7510F7;

html, body {
  margin: 0px;
  padding: 0px;
  font-family: 'Source Sans Pro', sans-serif;
  h4, h5 {
    margin-top: 1em;
  }
}

header {
  margin: 0px;
  padding: 40px;
  background-image: url('/assets/purple_background.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: auto;
  color: white;
}

nav {
  background-color: #aa1f75;
  min-height: 60px;
  padding: 0px;
  ul {
    margin: 0;
    padding: 10px 30px 10px 10px;
    position: absolute;
    top: 0;
    right: 0;
    li {
      font-size: 12pt;
      display: block;
      float: left;
      width: 50px;
      text-align: center;
      transition: all 0.2s ease-in-out;
      a {
        color: #eee;
        font-size: 22pt;
        text-decoration: none;
        display: block;
        &:hover {
          color: #fff;
          i {
            display: none;
          }
          b {
            display: block;
            text-decoration: none;
            padding-top: 10px;
          }
        }
        i {
          color: #fff;
        }
        b {
          display: none;
          font-size: 15px;
        }
      }
    }
  }
}

.about {
  padding: 20px;
  #wife {
    margin-top: 50px;
    width: 100%;
  }
  article {
    color: black;
    font-size: 1em;
    font-weight: 300;
  }
}

.skills {
  .progress {
    margin: 5px;
  }
}

.project-wrapper {
  margin-top: .5em;
  display: block;
  position: relative;
  .web img{
    height: 280px;
  }
  img {
    border: 1px solid #a33a7b;
    border-radius: 1em;
    width: 100%;
    height: 200px;
  }
  &:hover {
    .project-wrapper-inner {
      top: 0px;
      opacity: 0.9;
      transition: opacity .5s;
    }
  }
  .project-wrapper-inner {
    background: rgba(170, 31, 117, 0.9);
    border-radius: 1em;
    top: 0px;
    height: 100%;
    width: 100%;
    opacity: 0;
    position: absolute;
    padding: 20px;
    z-index: 1;
    transition: 0.5s;
    color: white;
  }
}

.item {
  background-color: blue;
  color: red;
  height: 300px;
}